<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,viewport-fit=cover" />
        <meta name="referrer" content="no-referrer-when-downgrade">
        <title>Web3 Pass</title>
        <link rel='icon' type='image/x-icon' id='favicon' href='/favicon.ico' />

        <meta property="og:type" content="website" />
        <meta property="og:title" content="<%- title %>" />
        <meta property="og:url" content="<%- url %>" />
        <meta property="og:site_name" content="<%- title %>" />
        <meta property="og:description" content="<%- bio %>" />
        <meta property="og:image" content="<%- avatar %>" />

        <meta name="twitter:image" content="<%- avatar %>" />
        <meta name="twitter:card" content="player" />
        <meta name="twitter:title" content="<%- title %>" />
        <meta name="twitter:site" content="@rss3_" />
        <meta name="twitter:description" content='Wait... Web3 Bio inside twitter?' />
        <meta name="twitter:player" content="<%- url %>" />
        <meta name="twitter:player:width" content="360" />
        <meta name="twitter:player:height" content="800" />
    </head>
    <body>
        <div id="app"></div>

    </body>
</html>
